* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.haye{
    background-color: #efefefef;
    padding: 30px;

}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameAndInfo h1{
    text-align: center;
    font-size: 2.2rem;
}

.haye h2{
    margin-top: 1.2rem;
    font-style: italic;
}

.info p{
    margin: 0.20rem 0.20rem;
    border-bottom: 1px solid black;
}

.education{
    border-top: 1px solid black;
    margin-top: 0.30rem;
}

.experience{
    border-top: 1px solid black;
    margin-top: 0.30rem;
}

.experience .ass1 span{
    margin-bottom: 1rem;
}

.projects{
    border-top: 1px solid black;
    margin-top: 0.30rem;
}


.Skill{
    border-top: 1px solid black;
    margin-top: 0.30rem;
}


.Skill h4{
    display: inline-block;
}
















.header-col {
    padding: 20px;
    margin: 2px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
    width: 30%;
}

.header-col h1 {
    margin-bottom: 1rem;
}

.header-col h2{
    margin-bottom: 0.30rem;
}

.last{
    text-align: left;
}

input[type=range]{
    pointer-events: none;
}

.js{
    display: flex;
}

.js input{
    margin-left: 4.6rem;
}

.py{
    display: flex;
}

.py input{
    margin-left: 6rem;
}

.gd{
    display: flex;
}

.react{
    display: flex;
}

.react input{
    margin-left: 6rem;
}

.skill p{
    margin-bottom: 0.30rem;
}

input{
    margin-left: 3rem;
    place-content: center;
    place-items: center;
}

.header-col ul {
    padding: 5px;
}

.header-col ul li {
    padding: 2px;
}

.header-col-two {
    box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: hsla(300, 53%, 25%, 0.952);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 30%;
}

.header-col-two h1 {
    white-space: nowrap;
    color: white;
}

.header-col-two span {
    white-space: nowrap;
    font-size: 1.2rem;
    border-bottom: 3px solid #189292;
    width: 20%;
    font-weight: 600;
}

.header-col-two img {
    border-radius: 60%;
    height: 140px;
    width: 140px;
}

.personal-info p{
    margin: 5px;
}

.personal-info i{
    color:rgb(26, 216, 223);
}

.profile {
    margin-top: 1.4rem;
}

.profile h1{
    color:rgb(26, 216, 223);
}

.profile p{
    line-height: 1.3;
    color: rgba(211, 211, 211, 0.836);
}

.lang {
    margin-top: 1.2rem;
}

.lang h1{
    color:rgb(26, 216, 223);

}

.lang h3 {
    margin-top: 0.30rem;
    color: rgba(255, 248, 220, 0.74);
    font-weight: bold;
}

.awards{
    margin-top: 1.2rem;
}

.awards h1 {
    margin-bottom: 0.30rem;
    color:rgb(26, 216, 223);
}

.awards h5 {
    color: #201d1d;
    font-size: 1.2rem;
}

.awards p {
    color: hsla(56, 78%, 56%, 0.863);
    color: rgba(211, 211, 211, 0.836);

}


@media (max-width: 900px) {
    .header {
        width: 100%;
        margin: auto;
        align-self: center;
    }

    .header-col {
        width: 40%;
    }

    .header-col-two {
        width: 50%;
        height: auto;
    }
    .skill{
        margin-right: 2rem;
    }
}